<!-- ********** -->
<!-- surfleaf_ftr.php - php include code for SurfLeaf guitar works
<!-- Copyright © 2014-2016 Thomas W. Scott -->
<!-- ********** -->

<br><br>
<div id="page-txt">
<small><i>
<p>Copyright &copy; 2014-2017 - SurfLeaf - Elk Grove, Ca.95758, All Rights Reserved</i>
<br>
<p><i>Surfleaf - Navigating the oceans of electric guitar body design.</i></h2>
<br><br>
<a style="color:#ccc;" href="/surfleaf_terms_conditions_new.php">Terms and Conditions of Use</a>


</small></i>
<br><br>
<img src="image/bt_logo.png" width="20%" /> <small><i><strong>Web Design by SurfLeaf</strong></i></small>
<br>
</div>

