<!-- ********** -->
<!-- surfleaf_hdr_new.php - php include code for SurfLeaf Guitar Works
<!-- Copyright © 2014-2017 Thomas W. Scott -->
<!-- ********** -->

<a href="/surfleaf_index_new.php">
   <img src="image/bt_logo.png" style="margin:0px auto;display:block;float:left;"/>
</a>

<nav><ul id="i-ul">
  <li><a class="selected" href="surfleaf_proj_00.php">START A PROJECT</a></li>

  <li><a class="selected"  href="surfleaf_hiw_new.php">HOW IT WORKS</a></li>

  <li><a class="selected" href="/surfleaf_contact_pg_new.php">CONTACT</a></li>

</ul></nav>
<a id="i-nav" href="#" onclick="menu_mod();">&#9776;</a> 

