<!DOCTYPE html>
<html lang="en">

<!-- ********** -->
<!-- surfleaf_index_new.php - Home page for SurfLeaf guitar works
<!-- Copyright © 2014-2016 Thomas W. Scott -->
<!-- ********** -->

<head>
   <title>SURFLEAF Guitar Works</title>
   <meta charset="utf-8"/>

   <link rel="stylesheet" type="text/css" href="/css/surfleaf_stylesheet_new.css"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>

function menu_mod() {
   var x = document.getElementById('i-ul');
   x.classList.toggle("show");
}

function Init(){
   //alert("init");
}

</script>
</head>


<body class="body" onload="Init();">

   <header class="mainHeader">
     <%- include('_header_new'); %>
   </header>

<div class="myclass">

   <h2 style="text-align: center;">View Ticket</h2><br><h1 style="text-align: center;">Design, &nbsp;&nbsp;Collaborate, &nbsp;&nbsp;Promote</h1><br><h2 style="text-align: center;">Surfleaf Indie Guitar Design of the Month</h2>
   <!-- <img style="margin: 0px auto; display: block;" src="image/sc_text.png"  width="55%"/> -->
   <img style="margin: 0px auto; display: block;" src="image/sc_img_text.png"  width="85%"/>
   <div style="text-align: center;">
   
   </div>

   <div class="mainContent">
      <div class="contentHome">
         <article class="bottomcontent">
            <header>
               <img style="margin: 0px auto; display: block;" src="image/sandcastle_5.0_bw.png"  width="85%"/><br>
               <h2 style="text-align: center;"><strong>Guitar and Bass Projects...Design, Collaborate, Promote</strong></h2> 
            </header>

            <footer>
               <p></p>
            </footer>

            <content> 
               <br>
               <p>Surfleaf is the place to get your guitar or bass project started. Always wanted a type of guitar or bass that just doesn't exist yet? Start your project here and promote it.</p>
               <br>
               <div style="text-align: center;">
               
               </div>

            </content>
         </article>
      </div>
   </div> <!-- mainContent-->


   <div class="mainContent">
      <div class="contentHome">
         <article class="bottomcontent">
            <header>
               <img style="margin: 0px auto; display: block;" src="image/surfleaf_ques.png"  width="20%"/>
               <br>
               <h2 style="text-align: center;">Questions??</h2> 
            </header>

            <footer>
               <p style="text-align: center;"><%= viewCount %></p>
            </footer>

            <content> 
               <br>
               <p>Please visit our FAQs page if you have more quesions. 
<form id="form" action="/testcontrol" method="post">
   <!--<input type="hidden" id="action" name="action" value="action_00" />-->
   <button type="submit" value="sub button">Button</>
</form>
            </content>
         </article>
      </div>
   </div> <!-- mainContent-->

<!--
<form id="form" action="" method="post">
   <input type="hidden" id="action" name="action" value="" />
   <input type="hidden" id="msg_id" name="message" value="" />

   <button type="submit" value="sub button">
</form> -->

</div> <!-- myclass-->

   <footer class="mainFooter">
      <!-- <p>Copyright &copy; 2015 <a href="#" title="surfleaf.com">surfleaf.com</a></p> -->
      
      <%- include('_footer_new'); %>

   </footer>

</body>

</html>
